$deepbl: #5680e9;
$babbl: #84ceeb;
$lightbl: #5ab9ea;
$lightpr: #c1c8e4;
$vio: #8860d0;
$accent: #fade26;
$titles: 'Raleway', sans-serif;
$text: 'Poppins', sans-serif;

body {
    font-family: $titles

}

.landing {
    height: 100vh;
    width: 100%;
    background: $babbl;
}

nav {
    background: #252934;
    border-bottom: solid 4px $babbl;
}

.affix {
    position:fixed;
    top: 0;
    bottom: inherit;
    left: 0;
    position: fixed;
    z-index: 2;
}

#nav-mobile {
    margin-left: 5%;

}

.brand-logo {
    margin-right: 5%
}


#intro {
    font-size: 70px;
    margin-top: 25%;
    color: #fefefe;
}

.typed-cursor {
	visibility: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.seeWork {
    background: $accent;
    &:hover {
        background: $babbl;
    }
    &:focus {
        background: $accent;
    }
}

nav ul li a:focus {
    color: $accent;
  }

.about {
    height: 100vh;
}

#abTitle {
    font-size: 50px;
    font-family: $text;
    margin-top: 119px;
}

#portTitle {
    margin-top: 119px;
    font-size: 50px;
    font-family: $text;
}

#border {
    border-bottom: solid 3px $babbl;
}

#samPic {
    width: 25%;
    border: 4px solid $babbl;
    border-radius: 150px;
}

.aboutImg {
    margin-top: 50px;
}

#aboutPara {
    font-family: $text;
    line-height: 24pt;
    font-size: 12pt;
    width: 65%;
    margin: 0 auto;
    margin-top: 45px;
}

#portfolio {
    background-color: #f5f5f5;
    height: 100vh;
}

#contact {
    background-color: #fefefe;
    height: 100vh;
}

#contactTitle {
    margin-top: 119px;
    font-size: 50px;
    font-family: $text;
}

#borderPort {
    border-bottom: solid 3px $babbl;
}

#borderRPort {
    border-bottom: solid 3px $babbl;
}

