$deepbl: #5680e9;
$babbl: #84ceeb;
$lightbl: #5ab9ea;
$lightpr: #c1c8e4;
$vio: #8860d0;

body {
    font-family: 'Raleway', sans-serif;

}

.landing {
    height: 100vh;
    width: 100%;
    background: $babbl;
}

nav {
    background: #252934;
    border-bottom: solid 4px $babbl;
}

#nav-mobile {
    margin-left: 5%;

}

.brand-logo {
    margin-right: 5%
}


#intro {
    font-size: 70px;
    margin-top: 25%;
    color: #fefefe;
}

.typed-cursor {
	visibility: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.seeWork {
    background: #fade26;
    &:hover {
        background: $babbl;
    }
    &:focus {
        background: #fade26;
    }
}

.about {
    height: 100vh;
}